
.container{
    max-width:90%;
    margin: 0px auto;

}
@media screen and (max-width:700px) {
    .row{
        width:100%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 100%;

    }
    .col{
        width:100%;

        color:white;
        margin-top: 20px;
        background-color: green;
    }
}
@media screen and (min-width:1000px) {
    
    .row{
        width:100%;
        height: 30px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content:space-around ;
    
    }
    .col{
        width:100%;
        background-color: green;
        color:white;
        margin-top: 20px;
    }
    .row{
        text-align: center;
    }
    .col-md>.row>img{
        width: 200px;
        margin: 0px auto;
    }
    .mb-2{
        margin-bottom: 12px;
    }
    .col-md>.row1:last-child{
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-around;
    }
    .col-md>.row1:last-child>.col-md>button{
        width:100%;
        height: 30px;
    }
    .row1>.row:first-child{
        text-align: center;
    }
    button{
        background-color: aquamarine;
        border-radius: 7px;
        border:0px
    }
    .button2{
        background-color: rgb(43, 169, 238);
    }
}

/* .button1{
    padding:10px 10px
}
.button2{
width: 100%;
height: 30px;
} */